{% extends '_main.html' %}

{% block title %}Import (Series) - Bazarr{% endblock %}

{% block bcleft %}
    <div id="buttons"></div>
{% endblock bcleft %}

{% block bcright %}

{% endblock bcright %}

{% block body %}
    <table id="import_series" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th>Directory</th>
            <th>Monitored</th>
            <th>Language Profile</th>
            <th>Series</th>
        </tr>
        </thead>
    </table>

    <nav id="edit_bar" class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="form-check form-check-inline">
            <div class="form-group" style="margin-bottom: 0px;">
                <label for="language_profile_select">Language Profile: </label>
                <select class="selectpicker" id="language_profile_select" name="language_profile" title="No change"></select>
            </div>
        </div>
        <div class="form-check form-check-inline">
            <button type="submit" class="btn btn-info" id="import_button">Import</button>
        </div>
    </nav>
{% endblock body %}

{% block tail %}
    <script>
        $(document).ready(function () {
            $('#series_nav').addClass("active");
            $('#series_import_nav').addClass("active");

            var table = $('#import_series').DataTable({
                language: {
                    zeroRecords: 'No Directories In This Root Directory'
                },
                searching: false,
                ordering: false,
                lengthChange: false,
                responsive: true,
                paging: false,
                ajax: "{{ url_for('api.getseries') }}?root_dir={{id}}",
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                columns: [
                    {defaultContent: ""},
                    {
                        data: "directory",
                        width: "30%"
                    },
                    {
                        data: null,
                        render: function () {
                            return '<select class="monitored selectpicker" data-width="100%"><option value="true">True</option><option value="false">False</option></select>';
                        },
                        width: "20%"
                    },
                    {
                        data: null,
                        render: function () {
                            return '<select class="languages_profiles selectpicker" data-width="100%"></select>';
                        },
                        width: "20%"
                    },
                    {
                        data: null,
                        render: function (data) {
                            return '<select id="series_' + data.id + '" class="series_matches selectpicker" data-directory="' + data.directory + '" data-width="100%"></select>';
                        },
                        width: "30%"
                    }
                ],
                initComplete: function() {
                    $('.monitored').selectpicker("refresh");

                    getLanguagesProfiles();

                    $('.series_matches').each( function() {
                        getSeries($(this).attr('data-directory'), $(this).attr('id'));
                    })
                }
            });

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        extend: 'selectAll',
                        text: '<div><i class="far fa-check-square align-top text-themecolor text-center font-20" aria-hidden="true"></i></div>\n' +
                            '            <div class="align-bottom text-themecolor small text-center">Select ALL</div>'
                    },
                    {
                        extend: 'selectNone',
                        text: '<div><i class="far fa-square align-top text-themecolor text-center font-20" aria-hidden="true"></i></div>\n' +
                            '            <div class="align-bottom text-themecolor small text-center nowrap">Deselect ALL</div>'
                    }]
            });

            table.buttons().container().appendTo('#buttons');

            var btns = $('.dt-button');
            btns.addClass('btn btn-outline');
            btns.removeClass('dt-button');

            table.on('select', function () {
                $('#language_profile_select').prop('disabled', false);
                $('#language_profile_select').selectpicker('refresh');
                $('#import_button').prop('disabled', false);
                $('#import_button').removeClass('disabled');
                $('#import_button').css('cursor', 'auto');
            });
        });

        function getSeries(directory, id) {
            $.ajax({
                url: "{{ url_for('api.getseriesmatch') }}?directory=" + directory,
                success: function (data) {
                    $('#'+id).empty();
                    $.each(data.data, function (i, item) {
                        $('#'+id).append('<option value="' + item.tmdbid + '" data-subtext="(' + item.year + ')">' + item.title + '</option>');
                    });
                    $('#'+id).selectpicker({
                        'showSubtext': true,
                        'noneSelectedText': 'No Matches'
                    });
                    $('#'+id).selectpicker("refresh");
                }
            });
        }

        function getLanguagesProfiles() {
            $.ajax({
                url: "{{ url_for('api.languagesprofiles') }}",
                success: function (data) {
                    var options = ''
                    $.each(data.data, function () {
                        options += '<option value="' + this.id + '">' + this.name + '</option>';
                    });
                    $('.languages_profiles').each( function() {
                        $(this).append(options);
                        $(this).selectpicker("refresh");
                    })
                }
            });
        }
    </script>
{% endblock tail %}
